{% extends 'WaldoSushiBundle::base.html.twig' %}

{% block body %}
<h2>{% trans %}Edition d'un utilisateur{% endtrans %}</h2>

<div>
{% if utilisateur %}
{% include 'WaldoSushiBundle:Utilisateur:informationGeneralUtilisateur.html.twig' %}
{% endif %}
</div>

{#
    Si dans l'url du formulaire on passe l'id de l'utilisateur, cela permetra à
    l'application de se baser sur un sushi existant. Cela permet aussi de savoir
    que c'est uneautoescape mise à jour de l'entité que lon va effectuer et non
    une création.
#}
{{ form_start(form, {'action':url('_utilisateur_edit', {"idUtilisateur":utilisateur.id|default(null)} ) } ) }}

    {{ form_errors(form) }}

    {{ form_row(form.username) }}

    {% if form.password|default(false) %}
    {{ form_row(form.password) }}
    {% endif %}

    {{ form_row(form.email) }}
    
    {{ form_row(form.adresse) }}

    <button type="submit">Valider</button>

{{ form_end(form) }}

{% endblock %}
