{% extends 'WaldoSushiBundle::base.html.twig' %}

{% block body %}
<h2>{% trans %}Edition d'un sushi{% endtrans %}</h2>

<p>Ce formulaire est une démonstration d'un formulaire on ne peut plus simple.<br />
Le comportement attendu est le suivant :</p>
<ol>
    <li>Afficher un formulaire vierge</li>
    <li>L'utilisateur saisie des informations et valide le formulaire</li>
    <li>Le contrôleur traite les informations :
        <ol>
            <li>Si les données sont invalide :
                <ul>
                    <li>Le controlleur renvoie le formulaire avec les erreurs trouvées</li>
                </ul>
            </li>
            <li>Si les données sont valide :
                <ul>
                    <li>Le controlleur enregistre en base de donnée le sushi</li>
                    <li>Puis renvoie une redirection vers la page d'édition du nouveau sushi</li>
                </ul>
            </li>
        </ol>
    </li> 
</ol>


{#
    Si dans l'url du formulaire on passe l'id du sushi, cela permetra à l'application
    de se baser sur un sushi existant. Cela permet aussi de savoir que c'est uneautoescape
    mise à jour de l'entité que lon va effectuer et non une création
#}
{{ form_start(form, {'action':url('_sushi_edit', {"idSushi":sushi.id|default(null)})}) }}
<fieldset>
    <legend>Un formulaire simplissime</legend>
    {{ form_errors(form) }}

    {{ form_row(form.nom) }}
    
    {{ form_row(form.description) }}

    <button type="submit">Valider</button>
</fieldset>
{{ form_end(form) }}

{% endblock %}
